/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

@font-face {
  font-family: BebasBook;
  src: url(/fonts/Bebas-Neue-Book.ttf.woff); }

html {
  font-size: 62.5%; }

.btn {
  cursor: pointer;
  transition: all .2s; }
  .btn--brush {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    letter-spacing: .15em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 50px;
    position: relative;
    color: #121E3C;
    display: flex;
    align-items: center;
    transition: transform .2s; }
    .btn--brush::after {
      content: "";
      display: block;
      position: absolute;
      top: -6px;
      left: 5px;
      width: 100%;
      height: 100%;
      background: url(/img/abstract/brushStrokes.svg) no-repeat;
      background-size: 100% auto; }
    .btn--brush:hover {
      transform: scale(1.1); }

.btn--brush span {
  position: relative;
  z-index: 1; }

.burger-menu__trigger {
  display: none; }

.burger-menu__bar, .burger-menu__bar::before, .burger-menu__bar::after {
  display: block;
  width: 24px;
  height: 3px;
  background: #121E3C;
  border: 1px solid #121E3C;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  margin-left: -12px;
  transition: transform 350ms ease-in-out; }

.burger-menu__bar {
  top: 50%;
  transform: translateY(-50%); }

.burger-menu__bar::before, .burger-menu__bar::after {
  content: ''; }

.burger-menu__bar::before {
  top: -8px; }

.burger-menu__bar::after {
  bottom: -8px; }

.burger-menu[enabled='true'] .burger-menu__trigger {
  display: block;
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 1;
  background: transparent;
  border: none;
  cursor: pointer; }

.burger-menu[enabled='true'] .burger-menu__panel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5rem 1.5rem 2rem 1.5rem;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.burger-menu[enabled='true'] .nav__list {
  display: block; }

.burger-menu[enabled='true'] .nav__list > * + * {
  margin-top: 2rem; }

.burger-menu[enabled='true'] .nav__link {
  font-size: 2rem; }

.burger-menu[enabled='true'][status='open'] .burger-menu__panel {
  visibility: visible;
  opacity: 1;
  transition: opacity 400ms ease; }

.burger-menu[enabled='true'][status='closed'] .burger-menu__panel > * {
  opacity: 0;
  transform: translateY(5rem); }

.burger-menu[enabled='true'][status='open'] .burger-menu__panel > * {
  transform: translateY(0);
  opacity: 1;
  transition: transform 500ms cubic-bezier(0.17, 0.67, 0, 0.87) 700ms, opacity 500ms ease 800ms; }

.burger-menu[enabled='true'][status='open'] .burger-menu__bar::before {
  top: 0;
  transform: rotate(45deg); }

.burger-menu[enabled='true'][status='open'] .burger-menu__bar::after {
  top: 0;
  transform: rotate(-45deg); }

.burger-menu[enabled='true'][status='open'] .burger-menu__bar {
  background: transparent;
  border-color: transparent;
  transform: rotate(180deg); }

.signup-form {
  position: fixed;
  bottom: 0;
  right: 4rem;
  padding: 2rem 3rem 3rem 3rem;
  background-color: #96D6D9; }
  .signup-form__title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "BebasBook", sans-serif;
    font-size: 1.6rem;
    font-weight: lighter;
    letter-spacing: 2.4px; }

.input-group {
  width: 28rem;
  height: 4rem;
  display: flex;
  flex-wrap: nowrap; }
  .input-group__input {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #ffffff;
    padding-left: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    color: #121E3C; }
    .input-group__input::placeholder {
      font-family: "Montserrat", sans-serif;
      font-size: 1.4rem;
      color: #121E3C; }
  .input-group__btn {
    border: none;
    background-color: #ffffff;
    padding-right: 1rem;
    padding-left: 1rem; }

.site-head {
  padding: 0;
  background: #ffffff;
  color: #121E3C; }
  .site-head:focus {
    outline-color: #EAF2FF; }
  .site-head__inner {
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  .site-head__brand {
    display: block;
    width: 10rem; }
  .site-head__social {
    display: flex; }
    @media only screen and (max-width: 42.5em) {
      .site-head__social {
        display: none; } }
  .site-head__social-link {
    margin-right: 2rem; }
    .site-head__social-link:last-of-type {
      margin-right: 0; }
  .site-head__social-img:hover {
    filter: brightness(0) saturate(100%) invert(92%) sepia(14%) saturate(837%) hue-rotate(136deg) brightness(87%) contrast(94%); }

.hero {
  width: 100%;
  height: 72rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/img/photos/hero.png);
  background-size: cover;
  background-position: top;
  color: #ffffff; }
  .hero__logo {
    position: absolute;
    left: 4rem;
    bottom: 4rem; }

.hero-content {
  background-image: url(/img/abstract/speechDark.svg);
  background-size: 50rem 35rem;
  background-repeat: no-repeat;
  margin-left: 7.6rem;
  width: 67.5rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .hero-content__title {
    font-family: "BebasBook", sans-serif;
    text-transform: uppercase;
    font-size: 10rem;
    letter-spacing: 15px;
    line-height: .9;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 5rem; }
  .hero-content__footer {
    display: flex;
    justify-content: start;
    margin-left: 5rem; }
  .hero-content__icon {
    margin-right: 4rem; }
  .hero-content__subtitle {
    margin-right: 4rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    width: 20ch; }

.container {
  padding: 0 4rem;
  margin: auto; }

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  width: 72rem;
  justify-content: space-between; }

.nav__link {
  text-decoration: none;
  color: #121E3C;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif; }
  .nav__link:hover {
    color: #96D6D9; }

.nav__social {
  display: none; }
  @media only screen and (max-width: 42.5em) {
    .nav__social {
      display: flex; } }

.nav__social-link {
  display: none; }
  @media only screen and (max-width: 42.5em) {
    .nav__social-link {
      display: flex;
      margin-right: 2rem;
      margin-top: 2rem; }
      .nav__social-link:last-of-type {
        margin-right: 0; } }

.nav__social-img {
  display: none; }
  @media only screen and (max-width: 42.5em) {
    .nav__social-img {
      display: flex; } }
