@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&display=swap");
html {
  font-size: 62.5%; }
  @media only screen and (max-width: 72em) {
    html {
      font-size: 57.5%; } }
  @media only screen and (max-width: 60em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 46.25em) {
    html {
      font-size: 45%; } }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

@font-face {
  font-family: BebasBook;
  src: url(../fonts/Bebas-Neue-Book.ttf.woff); }

.btn {
  cursor: pointer;
  transition: all .2s; }
  .btn--brush {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    letter-spacing: .15em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 50px;
    position: relative;
    color: #121E3C;
    display: flex;
    align-items: center;
    transition: transform .2s; }
    .btn--brush::after {
      content: "";
      display: block;
      position: absolute;
      top: -6px;
      left: 5px;
      width: 100%;
      height: 100%;
      background: url(../img/abstract/brushStrokes.svg) no-repeat;
      background-size: 100% auto; }
    .btn--brush:hover {
      transform: scale(1.1); }
  .btn--link, .btn--link:link, .btn--link:visited {
    font-family: "BebasBook", sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    line-height: 1.8;
    padding-bottom: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #121E3C;
    background-image: url(../img/abstract/underline.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: bottom; }
    .btn--link:hover, .btn--link:link:hover, .btn--link:visited:hover {
      background-size: 100%; }

.btn--brush span {
  position: relative;
  z-index: 1;
  margin: auto; }

.burger-menu__logo {
  position: absolute;
  top: 20px;
  left: 40px; }

.burger-menu__trigger {
  display: none; }

.burger-menu__bar, .burger-menu__bar::before, .burger-menu__bar::after {
  display: block;
  width: 24px;
  height: 3px;
  background: #121E3C;
  border: 1px solid #121E3C;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  margin-left: -12px;
  transition: transform 350ms ease-in-out; }

.burger-menu__bar {
  top: 50%;
  transform: translateY(-50%); }

.burger-menu__bar::before, .burger-menu__bar::after {
  content: ''; }

.burger-menu__bar::before {
  top: -8px; }

.burger-menu__bar::after {
  bottom: -8px; }

.burger-menu[enabled='true'] .burger-menu__trigger {
  display: block;
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 1001;
  background: transparent;
  border: none;
  cursor: pointer; }

.burger-menu[enabled='true'] .burger-menu__panel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 5rem 1.5rem;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.burger-menu[enabled='true'] .nav__list {
  display: block;
  text-align: center; }

.burger-menu[enabled='true'] .nav__list > * + * {
  margin-top: 2rem; }

.burger-menu[enabled='true'] .nav__item {
  margin-right: 0; }

.burger-menu[enabled='true'] .nav__link {
  font-size: 3.5rem; }

.burger-menu[enabled='true'][status='open'] .burger-menu__panel {
  visibility: visible;
  opacity: 1;
  transition: opacity 400ms ease; }

.burger-menu[enabled='true'][status='closed'] .burger-menu__panel > * {
  opacity: 0;
  transform: translateY(5rem); }

.burger-menu[enabled='true'][status='open'] .burger-menu__panel > * {
  transform: translateY(0);
  opacity: 1;
  transition: transform 500ms cubic-bezier(0.17, 0.67, 0, 0.87) 700ms, opacity 500ms ease 800ms; }

.burger-menu[enabled='true'][status='open'] .burger-menu__bar::before {
  top: 0;
  transform: rotate(45deg); }

.burger-menu[enabled='true'][status='open'] .burger-menu__bar::after {
  top: 0;
  transform: rotate(-45deg); }

.burger-menu[enabled='true'][status='open'] .burger-menu__bar {
  background: transparent;
  border-color: transparent;
  transform: rotate(180deg); }

.signup-form {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 4rem;
  padding: 2rem 3rem 3rem 3rem;
  background-color: #96D6D9; }
  @media only screen and (max-width: 46.25em) {
    .signup-form {
      right: 0; } }
  .signup-form__title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "BebasBook", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 2.4px; }

.input-group {
  width: 28rem;
  height: 4rem;
  display: flex;
  flex-wrap: nowrap; }
  .input-group__input {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0;
    background-color: #ffffff;
    padding-left: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    color: #121E3C; }
    .input-group__input::placeholder {
      font-family: "Montserrat", sans-serif;
      font-size: 1.4rem;
      color: #121E3C; }
  .input-group__btn {
    border: none;
    background-color: #ffffff;
    padding-right: 1rem;
    padding-left: 1rem; }

.text-card {
  display: flex;
  flex-direction: column;
  max-width: 50%; }
  @media only screen and (max-width: 46.25em) {
    .text-card {
      margin: 0 2rem; } }
  @media only screen and (max-width: 40em) {
    .text-card {
      max-width: 60%; } }
  @media only screen and (max-width: 35em) {
    .text-card {
      width: 100%;
      max-width: 100%; } }
  .text-card__header {
    font-family: "BebasBook", sans-serif;
    font-size: 6rem;
    letter-spacing: 9px;
    line-height: 1;
    color: #121E3C;
    max-width: 20ch; }
  .text-card__body {
    padding: 3rem 0;
    max-width: 90ch; }
  .text-card__text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #121E3C;
    margin-bottom: 2rem; }
    .text-card__text:last-of-type {
      margin-bottom: 0; }
    @media only screen and (max-width: 40em) {
      .text-card__text {
        font-family: "Montserrat", sans-serif;
        font-size: 1.8rem;
        line-height: 1.6;
        color: #121E3C; } }
  .text-card__footer {
    padding: 3rem 0; }

.site-head {
  padding: 0;
  background: #ffffff;
  color: #121E3C; }
  .site-head:focus {
    outline-color: #EAF2FF; }
  .site-head__inner {
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 46.25em) {
      .site-head__inner {
        padding-left: 40px;
        padding-right: 40px; } }
  .site-head__brand {
    display: block;
    width: 10rem; }
  .site-head__social {
    display: flex; }
    @media only screen and (max-width: 60em) {
      .site-head__social {
        display: none; } }
  .site-head__social-link {
    margin-right: 2rem; }
    .site-head__social-link:last-of-type {
      margin-right: 0; }
  .site-head__social-img:hover {
    filter: brightness(0) saturate(100%) invert(92%) sepia(14%) saturate(837%) hue-rotate(136deg) brightness(87%) contrast(94%); }

.hero {
  width: 100%;
  height: 72rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/photos/hero.png);
  background-size: cover;
  background-position: left top;
  color: #ffffff; }
  @media only screen and (max-width: 35em) {
    .hero {
      justify-content: start;
      background-position: center top;
      padding-top: 4rem; } }
  .hero__logo {
    position: absolute;
    left: 4rem;
    bottom: 4rem; }

.hero-content {
  background-image: url(../img/abstract/speechDark.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 7.6rem;
  width: 67.5rem;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 72em) {
    .hero-content {
      margin-left: 6rem; } }
  @media only screen and (max-width: 60em) {
    .hero-content {
      margin-left: 2rem; } }
  @media only screen and (max-width: 46.25em) {
    .hero-content {
      width: 90%; } }
  .hero-content__title {
    font-family: "BebasBook", sans-serif;
    text-transform: uppercase;
    font-size: 10rem;
    letter-spacing: 15px;
    line-height: .9;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 5rem; }
    @media only screen and (max-width: 35em) {
      .hero-content__title {
        align-self: flex-start;
        font-size: 8rem; } }
  .hero-content__footer {
    display: grid;
    grid-template-columns: repeat(2, min-content) max-content;
    grid-template-rows: min-content;
    margin-left: 5rem;
    margin-top: 2rem; }
    @media only screen and (max-width: 35em) {
      .hero-content__footer {
        grid-template-rows: repeat(2, max-content); } }
  .hero-content__icon {
    margin-right: 4rem; }
  .hero-content__subtitle {
    margin-right: 4rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    width: 20ch; }
    @media only screen and (max-width: 35em) {
      .hero-content__subtitle {
        margin-bottom: 2rem;
        font-size: 2rem; } }
  @media only screen and (max-width: 35em) {
    .hero-content__btn {
      grid-row: 2;
      grid-column: 1/-1; } }

.container {
  position: relative;
  padding: 0 40px;
  margin: auto; }
  @media only screen and (max-width: 46.25em) {
    .container {
      padding: 0; } }

.inner {
  position: relative;
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  justify-content: space-between; }

.nav__item {
  margin-right: 4rem; }
  .nav__item:last-of-type {
    margin-right: 0; }

.nav__link {
  text-decoration: none;
  color: #121E3C;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif; }
  .nav__link:hover {
    color: #96D6D9; }

.nav__social {
  display: none; }
  @media only screen and (max-width: 60em) {
    .nav__social {
      display: flex;
      justify-content: center; } }

.nav__social-link {
  display: none; }
  @media only screen and (max-width: 60em) {
    .nav__social-link {
      display: flex;
      margin-right: 2rem;
      margin-top: 2rem; }
      .nav__social-link:last-of-type {
        margin-right: 0; } }

.nav__social-img {
  display: none; }
  @media only screen and (max-width: 60em) {
    .nav__social-img {
      display: flex;
      width: 3rem;
      height: 3rem; } }

#section2 {
  padding-top: 12rem;
  background-image: url(../img/abstract/rectangleHorizontalSecondary.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 4rem center; }
  @media only screen and (max-width: 60em) {
    #section2 {
      padding-top: 10rem;
      background-position: left 5rem; } }
  @media only screen and (max-width: 35em) {
    #section2 {
      padding-top: 5rem;
      background-position: left top;
      background-repeat: repeat-y; } }

#section2 > .inner > .img-holder {
  width: 50rem;
  max-width: 40%; }
  @media only screen and (max-width: 40em) {
    #section2 > .inner > .img-holder {
      width: 20rem; } }
  @media only screen and (max-width: 35em) {
    #section2 > .inner > .img-holder {
      display: none; } }
