/////////////////////////////
// RESPONSIVE BREAK POINTS

@mixin respond($breakpoint) {
    @if $breakpoint == bp-xs {
        @media only screen and (max-width: 35em) { @content };
    }
    @if $breakpoint == bp-sm {
        @media only screen and (max-width: 40em) { @content };
    }
    @if $breakpoint == bp-md {
        @media only screen and (max-width: 46.25em) { @content };
    }
    @if $breakpoint == bp-lg {
        @media only screen and (max-width: 60em) { @content };
    }
    @if $breakpoint == bp-xl {
        @media only screen and (max-width: 72em) { @content };
    }
}

/////////////////////////////
// RESPONSIVE IMAGE

@mixin img-responsive {
    width: 100%;
    height: auto;
}

/////////////////////////////
// TEXT

@mixin h2 {
    font-family: $font-heading;
    font-size: 6rem;
    letter-spacing: 9px;
    line-height: 1;
    color: $color-dark;
}

@mixin bodyText {
    font-family: $font-primary;
    font-size: 1.4rem;
    line-height: 1.6;
    color: $color-dark;
}

@mixin bodyTextSm {
    font-family: $font-primary;
    font-size: 1.8rem;
    line-height: 1.6;
    color: $color-dark;
}