// RESPONSIVE BREAKPOINTS

$bp-sm: 42.5em; //680px

// FONTS

$font-primary: 'Montserrat', sans-serif;
$font-heading: 'BebasBook', sans-serif;
$font-title: 'Bebas Neue', sans-serif;

// COLOURS

$color-white: #ffffff;
$color-dark: #121E3C;
$color-dark-2: #132450;
$color-primary: #96D6D9;
$color-light: #EAF2FF;
$color-light-2: #EBF7F8;

// SVG FILTERS

$filter-primary: brightness(0) saturate(100%) invert(92%) sepia(14%) saturate(837%) hue-rotate(136deg) brightness(87%) contrast(94%); // changes $color-dark to $color-primary on SVG img... first two properties convert $color-dark to black, following properties convert black to $color-primary
