// RESPONSIVE BREAKPOINTS

// FONTS

$font-body: 'Montserrat', sans-serif;
$font-heading: 'Bebas Neue', cursive;

// COLOURS

$color-white: #ffffff;
$color-dark: #121E3C;
$color-dark-2: #132450;
$color-primary: #96D6D9;
$color-light: #EAF2FF;
$color-light-2: #EBF7F8;
