.hero {
    width: 100%;
    height: 72rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/photos/hero.png);
    background-size: cover;
    background-position: left top;
    color: $color-white;

    @include respond(bp-xs) {
        justify-content: start;
        background-position: center top;
        padding-top: 4rem;
    }

    &__logo {
        position: absolute;
        left: 4rem;
        bottom: 4rem;
    }
}

.hero-content {
    background-image: url(../img/abstract/speechDark.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 7.6rem;
    width: 67.5rem;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(bp-xl) {
        margin-left: 6rem;
    }

    @include respond(bp-lg) {
        margin-left: 2rem;
    }

    @include respond(bp-md) {
        width: 90%;
    }

    &__title {
        font-family: $font-heading;
        text-transform: uppercase;
        font-size: 10rem;
        letter-spacing: 15px;
        line-height: .9;
        color: #FFFFFF;
        opacity: 1;
        margin-left: 5rem;

        @include respond(bp-xs) {
            align-self: flex-start;
            font-size: 8rem;
        }
    }

    &__footer {
        display: grid;
        grid-template-columns: repeat(2, min-content) max-content;
        grid-template-rows: min-content;
        margin-left: 5rem;
        margin-top: 2rem;

        @include respond(bp-xs) {
            grid-template-rows: repeat(2, min-content);
        }
    }

    &__icon {
        margin-right: 4rem;
    }

    &__subtitle {
        margin-right: 4rem;
        font-family: $font-primary;
        font-size: 1.4rem;
        width: 20ch;

        @include respond(bp-xs) {
            margin-bottom: 2rem;
        }
    }

    &__btn {

        @include respond(bp-xs) {
            grid-row: 2;
            grid-column: 1/-1;
        }
    }
}