//////////////////////////
// SECTION 2

#section2 {
    padding-top: 12rem;
    background-image: url(/img/abstract/rectangleHorizontalSecondary.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 4rem center;
}

#section2 > .inner > img {
    margin: 0 6rem 6rem 0;
}
