//////////////////////////
// SECTION 2

#section2 {
    padding-top: 12rem;
    background-image: url(/img/abstract/rectangleHorizontalSecondary.png);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 4rem center;

    @include respond(bp-lg) {
        padding-top: 10rem;
        background-position: left 5rem;
    }

    @include respond(bp-xs) {
        padding-top: 5rem;
        background-position: left top;
        background-repeat: repeat-y;
    }

}

#section2 > .inner > .img-holder {
    width: 50rem;
    max-width: 40%;

    @include respond(bp-sm) {
        width: 20rem;
    }

    @include respond(bp-xs) {
        display: none;
    }
}
